body{
    padding: 0;
    margin: 0;
}
.wrapper{
    position: relative;
    height: 1080px;
    min-width: 1280px;
}
.BackGround{
    background-image: url(DesignMaterial/mizore-dark.png);
    position: fixed;
    left: 0px;top: 0px;
    width: 100%;height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    background-attachment: fixed;
}
.floating{
    position: absolute;
    left: 0px;
    top: 0px;
    height:100%;
    width:12.5%;
    background:rgba(275,275,275,0.60);
}
.nozomi{
    width: 100%;
}
.ID{
    width: 100%;
}
.menu_wrapper{
    width: 100%;
}
.menu{
    padding-left: 0;
}
.home{
    line-height: 200%; list-style: none;
}
.home:hover{
    background: rgba(0,191,255,0.3);
}
.profile{
    line-height: 200%; list-style: none;
}
.profile:hover{
    background: rgba(0,191,255,0.3);
}
.blog{
    line-height: 200%; list-style: none; background: rgba(0,191,255,0.3);
}
.blog:hover{
    background: rgba(0,191,255,0.3);
}
.a_blog{
    text-decoration: none;
}
.study_notes{
    line-height: 200%; list-style: none;
}
.study_notes:hover{
    background: rgba(0,191,255,0.3);
}
.travels{
    line-height: 200%; list-style: none;
}
.travels:hover{
    background: rgba(0,191,255,0.3);
}
.QQ{
    width: 100%;
}
.sns{
    width: 100%;
}
.weibo{
    width: 25%;float: left;
}
.a_weibo{
    text-decoration: none;
}
.img_weibo{
    width: auto; height: auto;max-width: 100%; max-height: 100%;
}
.twitter{
    width: 25%;float: left;
}
.a_twitter{
    text-decoration: none;
}
.img_twitter{
    width: auto; height: auto;max-width: 100%; max-height: 100%;
}
.instagram{
    width: 25%;float: left;
}
.a_instagram{
    text-decoration: none;
}
.img_instagram{
    width: auto; height: auto;max-width: 100%; max-height: 100%;
}
.bilibili{
    width: 25%;float: left;
}
.a_bilibili{
    text-decoration: none;
}
.img_bilibili{
    width: auto; height: auto;max-width: 100%; max-height: 100%;
}
.word{
    width: 100%;
}
.img_word{
    width: auto; height: auto; max-width: 100%; max-height: 100%;
}
#footer{
    position: absolute;
    width: 100%;
    top: 97%;
    font-size: 1vw;
    text-align: center;
}
.a_footer{
    color: black;
}
.a_footer:hover{
    text-decoration: none;
}
.popup_shade{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;left: 0;
    background: rgba(0,0,0,0.6);
    display: none;
}
.popup{
    position: absolute;
    width: 72%;
    height: 72%;
    top: 0;bottom: 0;left: 12.5%;right: 0;
    margin: auto;
}
.button{
    position: absolute;
    width: 10%;height: 10%;
    top: 10px;right: 10px;
    float: right;
    text-align: right;
}
.img_close{
    width: auto; height: auto; max-width: 100%; max-height: 100%;
}
.contents{
    position: absolute;
    width: 60%;
    height: 75%;
    top: 120px;left: 12.5%;right: 0;
    margin: auto;
    background: rgba(255,255,255,0.6);
    border-radius: 48px;
}
.contents_shade_left{
    position: absolute;
    width: 75%;height: 100%;
}
.contents_title{
    position: absolute;
    width: 96%;height: 96%;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
}
.post_preview{
    width: 100%;height: 12.5%;
}
.post_preview:hover{
    opacity: 0.7;
}
.a_post_preview{
    text-decoration: none;
    color: #303030;
}
.post_title{
    font-size: 32px;
    padding: 6px;margin: 0;
}
.post_subtitle{
    font-size: 18px;
    font-weight: normal;
    display: inline-block;vertical-align: middle;
    padding: 6px;margin: 0;
}
.post_date{
    font-size: 18px;
    font-weight: normal;
    display: inline-block;vertical-align: middle;float: right;
    padding: 6px;margin: 0;
}
.page{
    list-style: none;
    text-decoration: none;
    padding: 0;
}
.next{
    width: 180px;height: 60px;
    text-align: center;
    line-height: 60px;
    border: 1px solid #3c3c3c;
    float: right;
}
.next:hover{
    border: 0px;
    background: rgba(32,160,190,0.8);
}
.a_next{
    text-decoration: none;
    font-size: 20px;
    font-family: "微软雅黑 Light";
    font-weight: bold;
    display: flex;display: block;
    justify-content: center;align-items: center;
    color: #303030;
}
.a_next:hover{
    color: #ffffff;
}
.contents_shade_right{
    position: absolute;
    width: 25%;height: 100%;
    left: 75%;top: 0;
}
.contents_search{
    position: absolute;
    width: 86%;height: 100%;
    left: 0;right: 10px;
    margin: auto;
}
.search_title{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #4e4e4e;
}
.search_site{
    position: absolute;
    width: 100%;height: 50%;
}
input{
    width: 90%;height: 30px;
    border: 1px solid #4e4e4e;
    border-radius: 6px;
    box-shadow: rgba(0,191,255,0.3) 1px 1px 2px 2px;
}