body{
    padding: 0;
    margin: 0;
}
.wrapper{
    position: relative;
    height: 1080px;
    min-width: 1280px;
}
.BackGround{
    background-image: url(DesignMaterial/mizore-dark.png);
    position: fixed;
    left: 0px;top: 0px;
    width: 100%;height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    background-attachment: fixed;
}
.floating{
    position: absolute;
    left: 0px;
    top: 0px;
    height:100%;
    width:12.5%;
    background:rgba(275,275,275,0.60);
}
.nozomi{
    width: 100%;
}
.ID{
    width: 100%;
}
.menu_wrapper{
    width: 100%;
}
.menu{
    padding-left: 0;
}
.home{
    line-height: 200%; list-style: none;
}
.home:hover{
    background: rgba(0,191,255,0.3);
}
.profile{
    line-height: 200%; list-style: none;
}
.profile:hover{
    background: rgba(0,191,255,0.3);
}
.blog{
    line-height: 200%; list-style: none;
}
.blog:hover{
    background: rgba(0,191,255,0.3);
}
.study_notes{
    line-height: 200%; list-style: none; background: rgba(0,191,255,0.3);
}
.study_notes:hover{
    background: rgba(0,191,255,0.3);
}
.a_study_notes{
    text-decoration: none;
}
.travels{
    line-height: 200%; list-style: none;
}
.travels:hover{
    background: rgba(0,191,255,0.3);
}
.QQ{
    width: 100%;
}
.sns{
    width: 100%;
}
.weibo{
    width: 25%;float: left;
}
.a_weibo{
    text-decoration: none;
}
.img_weibo{
    width: auto; height: auto;max-width: 100%; max-height: 100%;
}
.twitter{
    width: 25%;float: left;
}
.a_twitter{
    text-decoration: none;
}
.img_twitter{
    width: auto; height: auto;max-width: 100%; max-height: 100%;
}
.instagram{
    width: 25%;float: left;
}
.a_instagram{
    text-decoration: none;
}
.img_instagram{
    width: auto; height: auto;max-width: 100%; max-height: 100%;
}
.bilibili{
    width: 25%;float: left;
}
.a_bilibili{
    text-decoration: none;
}
.img_bilibili{
    width: auto; height: auto;max-width: 100%; max-height: 100%;
}
.word{
    width: 100%;
}
.img_word{
    width: auto; height: auto; max-width: 100%; max-height: 100%;
}
#footer{
    position: absolute;
    width: 100%;
    top: 97%;
    font-size: 1vw;
    text-align: center;
}
.a_footer{
    color: black;
}
.a_footer:hover{
    text-decoration: none;
}
.popup_shade{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;left: 0;
    background: rgba(0,0,0,0.6);
    display: none;
}
.popup{
    position: absolute;
    width: 72%;
    height: 72%;
    top: 0;bottom: 0;left: 12.5%;right: 0;
    margin: auto;
}
.button{
    position: absolute;
    width: 10%;height: 10%;
    top: 10px;right: 10px;
    float: right;
    text-align: right;
}
.img_close{
    width: auto; height: auto; max-width: 100%; max-height: 100%;
}