body{
    padding: 0;margin: 0;
}
.wrapper{
    position: relative;
    height: 1200px;
}
.title{
    position: absolute;
    width: 100%;height: auto;
}
.title_BG img{
    width: 100%;height: 600px;
}
.title_name{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
    width: 1000px;height: 40%;
    text-align: center;
}
.title_name h1{
    padding: 0;margin: 0;
    font-size: 80px;
    font-family: "UD Digi Kyokasho NK-B";
    color: #303030;
}
.title_name h2{
    padding: 0;margin-top: 5px;
    font-size: 36px;
    font-family: 零零后举个爪;
    color: #303030;
}
.content{
    position: absolute;
    left: 0; right: 0;top: 605px;
    margin: auto;
    width: 1150px;height: 1000px;
}
.content_title{
    position: absolute;
    left: 0;right: 0;top: 20px;
    margin: auto;padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
}
.content_title li{
    width: 150px;height: 60px;
    border: 2px solid #303030;
    border-radius: 12px;
    text-align: center;
    line-height: 60px;
    margin: 0 10px;
}
.content_title li a{
    text-decoration: none;
    font-family: 零零后举个爪;
    font-size: 32px;
    font-weight: bold;
    color: #303030;
    display: flex;display: block;
    justify-content: center;align-items: center;
}
#b1{
    background: #fff3e5;
}
.content_inner{
    position: absolute;
    top: 100px;
    width: 100%;height: 500px;
}
#box_1{
    opacity: 1;
    display: block;
}
#box_2,#box_3,#box_4,#box_5,#box_6{
    opacity: 0;
    display: none;
}
.profile{
    position: absolute;
    left: 0;right: 0;
    margin: auto;
    width: 96%;height: 300px;
}
.profile_img{
    position: absolute;
    width: 49%;height: 100%;
    left: 0;
}
.profile_img img{
    position: absolute;
    top: 0;bottom: 0;
    margin: auto;
}
.profile_word{
    position: absolute;
    width: 49%;height: 100%;
    right: 0;
}
.profile_word h2{
    text-align: center;
    font-family: 腾祥沁圆简-W4;
    font-size: 36px;
}
.profile_word h3{
    font-family: 腾祥沁圆简-W4;
    font-size: 27px;
    padding: 5px;
}
.arrange{
    position: absolute;
    left: 0;top: 300px;
    width: 49%;height: 400px;
}
.arrange table{
    position: absolute;
    left: 0;right: 0;
    margin: auto;
}
@font-face {
    font-family: 零零后举个爪;
    src: url("../DesignMaterial/profile_word.ttf");
}
@font-face {
    font-family: 腾祥沁圆简-W4;
    src: url("../DesignMaterial/W4.ttf");
}
